.title {
  color: #333;
  text-align: center;
}
.text {
  color: rgb(71, 71, 71);
  text-align: center;
}
.mobileTitle {
  display: none;
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.btn {
  display: block;
  width: fit-content;
  padding: 0.8rem 0.8rem;
  margin: 2rem auto;
  background: #305751;
  border: 2px solid #305751;
  border-radius: 4px;
  color: white;
  text-align: center;
  transition: 0.1s ease-in-out;
  &:hover {
    background: white;
    border: 2px solid #305751;
    color: #305751;
  }
}
.container {
  height: fit-content;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.content {
  height: 100vh;
  width: 80vw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.textBlock {
  height: 60vh;
  width: 50vw;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.picture {
  border-radius: 1rem;
}

.icons {
  height: 5rem;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
}

.icon {
    transition: 0.2s ease-in-out;
  &:hover {
    transform: translateY(0.3rem);
  }
}

.wrapper {
  height: 60vh;
  display: grid;
  place-items: center;
}

.typing {
  width: 42ch;
  animation: typing 2s steps(42), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3rem;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.expand {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .mobileTitle {
    display: block;
  }
  .content {
    height: fit-content;
  }
  .wrapper {
    display: none;
  }
  .textBlock {
    width: 80vw;
  }
  .icons {
    width: 70vw;
    flex-wrap: wrap;
    margin-bottom: 10rem;
  }
  .wrapper2 {
    height: 10vh;
    display: grid;
    place-items: center;
  }
  
  .typing2 {
    width: 8ch;
    animation: typing 1.5s steps(8), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3rem;
  }
}