.title {
    color: #333;
    padding-bottom: 20px;
    text-align: center;
  }
.text {
color: rgb(71, 71, 71);
}
.content {
width: 80vw;
margin-top: 2rem;
margin-left: 5rem;
display: flex;
justify-content: space-evenly;
}