.title {
    color: #333;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    text-decoration: underline wavy rgb(65, 177, 138);
  }
.text {
color: rgb(71, 71, 71);
text-align: center;
line-height: 1.5rem;
}
.text a {
  text-decoration: underline wavy rgb(65, 177, 138);
}
.content {
width: 80vw;
margin-top: 2rem;
margin-left: 5rem;
display: flex;
justify-content: space-evenly;
align-content: center;
}

@media screen and (max-width: 720px) {
  .content {
    width: 90vw;
  }
}